#body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  height: 100vh;
}

#container {
  border: solid, black, 1px;
  max-width: 600px;
  max-height: 600px;
  aspect-ratio: 1/1;
  display: flex;
  flex: auto;
  flex-wrap: wrap;
}

.square {
  flex: auto;
  display: flex;
  flex-direction: column;
  aspect-ratio: 1/1;
}

.miniSquare {
  flex: auto;
  aspect-ratio: 1/1;
}

.colorized {
  background-color: rgb(0, 0, 0);
}

.reset {
  background-color: white;
}
