#body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  height: 100vh;
}

#container {
  border: solid, rgb(252, 92, 92), 100px;
  border-radius: 32px;
  max-width: 600px;
  max-height: 600px;
  aspect-ratio: 1/1;
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  background-color: white;
}

.square {
  flex: auto;
  display: flex;
  flex-direction: column;
  aspect-ratio: 1/1;
  background-color: white;
}

.miniSquare {
  flex: auto;
  aspect-ratio: 1/1;
  background-color: black;
}

.reset {
  background-color: white;
}
