#body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  height: 100vh;
  flex-direction: column;
  gap: 40px;
}

#title {
  font-family: "Lobster", cursive;
  font-size: 40px;
  color: rgb(0, 0, 0);
}

#container {
  border: solid, rgb(252, 92, 92), 75px;
  border-radius: 32px;
  max-width: 850px;
  aspect-ratio: 2/1;
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  background-color: white;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

#resetButton {
  padding: 4px;
  border-radius: 8px;
}

#footer {
  background-color: rgba(0, 0, 0, 0.308);

  align-self: stretch;
  text-align: center;
}

.square {
  flex: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  aspect-ratio: 1/1;
  background-color: white;
  align-self: stretch;
}

.miniSquare {
  flex: auto;
  aspect-ratio: 1/1;
  background-color: black;
}

.reset {
  background-color: white;
}
